input.error, select.error, textarea.error, .ui-select .ui-btn.error {border:2px solid red !important;}
.main-content {-webkit-overflow-scrolling: touch;}
/*body, .ui-page {-webkit-overflow-scrolling: touch;}*/
#app-registration-thank-you {padding-bottom:400px; text-align:center;}
.page-node-11826 .header, .page-app-registration-forgot-password .header { display:none; }
@media (min-width: 640px){
  .content-secondary {display:none;}
  .content-primary {width:100%; float:none;}
}