/* Variables for the max-480px width design, specifying width of image, title, and button */
/* Color and size of video widget title border */
/* line 30, ../sass/video_widget.scss */
.full.videoWidget, .twoVideo.videoWidget, .full_pw.videoWidget {
  margin-bottom: 10px;
}
/* line 31, ../sass/video_widget.scss */
.full .videoWidget-video, .twoVideo .videoWidget-video, .full_pw .videoWidget-video {
  text-align: center;
  margin: 10px 0;
  display: inline-block;
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}
/* line 34, ../sass/video_widget.scss */
.full .videoWidget-video.ng-hide, .twoVideo .videoWidget-video.ng-hide, .full_pw .videoWidget-video.ng-hide {
  display: inline-block !important;
  /*-webkit-transition:all linear 2s;
  transition:all linear 2s;*/
}
/* line 42, ../sass/video_widget.scss */
.full .videoWidget-video.ng-hide-add-active, .full .videoWidget-video.ng-hide-remove, .full .videoWidget-video.ng-hide-remove-active, .full .videoWidget-video.ng-hide-add, .twoVideo .videoWidget-video.ng-hide-add-active, .twoVideo .videoWidget-video.ng-hide-remove, .twoVideo .videoWidget-video.ng-hide-remove-active, .twoVideo .videoWidget-video.ng-hide-add, .full_pw .videoWidget-video.ng-hide-add-active, .full_pw .videoWidget-video.ng-hide-remove, .full_pw .videoWidget-video.ng-hide-remove-active, .full_pw .videoWidget-video.ng-hide-add {
  display: inline-block !important;
  -webkit-transition: all linear 0.8s;
  transition: all linear 0.8s;
}
/* line 48, ../sass/video_widget.scss */
.full .videoWidget-wrapper, .twoVideo .videoWidget-wrapper, .full_pw .videoWidget-wrapper {
  overflow: auto;
  position: relative;
  min-height: 120px;
}
/* line 49, ../sass/video_widget.scss */
.full .videoWidget-wrapper div, .twoVideo .videoWidget-wrapper div, .full_pw .videoWidget-wrapper div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 50, ../sass/video_widget.scss */
.full .videoWidget-videos, .twoVideo .videoWidget-videos, .full_pw .videoWidget-videos {
  overflow: hidden;
  float: left;
  max-width: 94%;
  min-height: 160px;
  white-space: nowrap;
}
/* line 51, ../sass/video_widget.scss */
.full .videoWidget-count-selector, .twoVideo .videoWidget-count-selector, .full_pw .videoWidget-count-selector {
  overflow: auto;
  min-height: 1px;
}
/* line 55, ../sass/video_widget.scss */
.full .videoWidget-left-selection, .full .videoWidget-right-selection, .twoVideo .videoWidget-left-selection, .twoVideo .videoWidget-right-selection, .full_pw .videoWidget-left-selection, .full_pw .videoWidget-right-selection {
  display: inline-block;
  float: left;
  width: 12px;
}
/* line 56, ../sass/video_widget.scss */
.full .videoWidget-right-selection, .twoVideo .videoWidget-right-selection, .full_pw .videoWidget-right-selection {
  padding-left: 5px;
}
/* line 57, ../sass/video_widget.scss */
.full .videoWidget-left-triangle-wrapper, .twoVideo .videoWidget-left-triangle-wrapper, .full_pw .videoWidget-left-triangle-wrapper {
  background-color: #fff;
  width: 10px;
}
/* line 59, ../sass/video_widget.scss */
.full .videoWidget-left-triangle-wrapper.lastVideoBlock .video-widget-chevron, .twoVideo .videoWidget-left-triangle-wrapper.lastVideoBlock .video-widget-chevron, .full_pw .videoWidget-left-triangle-wrapper.lastVideoBlock .video-widget-chevron {
  opacity: 0.42;
}
/* line 60, ../sass/video_widget.scss */
.full .videoWidget-left-triangle-wrapper.lastVideoBlock .video-widget-chevron:hover, .twoVideo .videoWidget-left-triangle-wrapper.lastVideoBlock .video-widget-chevron:hover, .full_pw .videoWidget-left-triangle-wrapper.lastVideoBlock .video-widget-chevron:hover {
  cursor: not-allowed;
}
/* line 64, ../sass/video_widget.scss */
.full .videoWidget-right-triangle-wrapper.lastVideoBlock, .twoVideo .videoWidget-right-triangle-wrapper.lastVideoBlock, .full_pw .videoWidget-right-triangle-wrapper.lastVideoBlock {
  opacity: 0.42;
}
/* line 65, ../sass/video_widget.scss */
.full .videoWidget-right-triangle-wrapper.lastVideoBlock:hover, .twoVideo .videoWidget-right-triangle-wrapper.lastVideoBlock:hover, .full_pw .videoWidget-right-triangle-wrapper.lastVideoBlock:hover {
  cursor: not-allowed;
}
/* line 68, ../sass/video_widget.scss */
.full .videoWidget-right-triangle-wrapper, .twoVideo .videoWidget-right-triangle-wrapper, .full_pw .videoWidget-right-triangle-wrapper {
  background-color: #fff;
}
/* line 71, ../sass/video_widget.scss */
.full .videoWidget-triangle-wrapper, .twoVideo .videoWidget-triangle-wrapper, .full_pw .videoWidget-triangle-wrapper {
  position: absolute;
  height: 100%;
}
/* line 72, ../sass/video_widget.scss */
.full .videoWidget-triangle-wrapper:hover, .twoVideo .videoWidget-triangle-wrapper:hover, .full_pw .videoWidget-triangle-wrapper:hover {
  cursor: pointer;
}
/* line 74, ../sass/video_widget.scss */
.full .videoWidget-triangle, .twoVideo .videoWidget-triangle, .full_pw .videoWidget-triangle {
  font-size: 10px;
  color: #999;
  font-size: 25px;
  margin-top: 35px;
}
/* line 75, ../sass/video_widget.scss */
.full .videoWidget-triangle:hover, .twoVideo .videoWidget-triangle:hover, .full_pw .videoWidget-triangle:hover {
  color: #696969;
}
/* line 78, ../sass/video_widget.scss */
.full .videoWidget-title, .twoVideo .videoWidget-title, .full_pw .videoWidget-title {
  float: left;
  clear: both;
  width: 100%;
  color: #000;
  font-family: "FolksLightRegular",sans-serif;
  letter-spacing: .03em;
  margin-top: 4px;
  line-height: 1.3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  text-align: left;
}
/* line 79, ../sass/video_widget.scss */
.full .videoWidget-title div, .twoVideo .videoWidget-title div, .full_pw .videoWidget-title div {
  overflow: hidden;
  white-space: normal;
  height: 50px;
  margin: auto auto;
  max-width: 93% !important;
}
/* line 81, ../sass/video_widget.scss */
.full .videoWidget-widget-title, .twoVideo .videoWidget-widget-title, .full_pw .videoWidget-widget-title {
  font-weight: bold;
  color: #F15A24;
  font-size: 1.4em;
  text-transform: uppercase;
  border-bottom: 1px solid #dde8ed;
  padding: 8px 0 8px 2px;
}
/* line 85, ../sass/video_widget.scss */
.full .videoWidget-video, .twoVideo .videoWidget-video, .full_pw .videoWidget-video {
  width: 25%;
}
/* line 86, ../sass/video_widget.scss */
.full .videoWidget-video img, .twoVideo .videoWidget-video img, .full_pw .videoWidget-video img {
  max-width: 93% !important;
}

/* line 89, ../sass/video_widget.scss */
.videoWidget-title:hover {
  cursor: pointer;
}

/* line 92, ../sass/video_widget.scss */
.video-widget-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
}
/* line 93, ../sass/video_widget.scss */
.video-widget-pager a {
  background: #bfbfbf;
  text-indent: -9999px;
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 5px !important;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 94, ../sass/video_widget.scss */
.video-widget-pager a:hover, .video-widget-pager a.active {
  background: #000;
}

/* line 96, ../sass/video_widget.scss */
.video-widget-pager-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

@media (max-width: 800px) and (min-width: 480px) {
  /* line 99, ../sass/video_widget.scss */
  .videoWidget {
    display: inline-block;
    width: 100%;
  }

  /* line 100, ../sass/video_widget.scss */
  .videoWidget-video {
    width: 50%;
  }
}
@media (min-width: 480px) {
  /* line 104, ../sass/video_widget.scss */
  .videoWidget-video {
    /*img {} */
  }

  /* line 107, ../sass/video_widget.scss */
  #content .videoWidget-video img {
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 950px) {
  /* line 111, ../sass/video_widget.scss */
  .full .videoWidget-videos, .twoVideo .videoWidget-videos, .full_pw .videoWidget-videos {
    max-width: 94%;
  }

  /* line 112, ../sass/video_widget.scss */
  #content .videoWidget-wrapper img {
    max-width: 95% !important;
  }
}
@media (max-width: 479px) {
  /* line 117, ../sass/video_widget.scss */
  .oneVideo.videoWidget {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
  /* line 118, ../sass/video_widget.scss */
  .oneVideo .videoWidget-wrapper {
    display: table;
    width: 100%;
  }
  /* line 119, ../sass/video_widget.scss */
  .oneVideo .videoWidget-videos {
    display: table-header-group;
    float: none;
    min-height: 125px;
  }
  /* line 120, ../sass/video_widget.scss */
  .oneVideo .videoWidget-left-selection {
    display: table-row-group;
  }
  /* line 121, ../sass/video_widget.scss */
  .oneVideo .videoWidget-right-selection {
    display: table-footer-group;
  }
  /* line 122, ../sass/video_widget.scss */
  .oneVideo .videoWidget-triangle-wrapper {
    display: table-cell;
    padding: 10px 0;
  }
  /* line 123, ../sass/video_widget.scss */
  .oneVideo .videoWidget-triangle-wrapper:active {
    padding-top: 11px;
    -moz-box-shadow: inset 0 0 1px 0 #000000;
    -webkit-box-shadow: inset 0 0 1px 0 #000000;
    box-shadow: inset 0 0 1px 0 #000000;
  }
  /* line 124, ../sass/video_widget.scss */
  .oneVideo .videoWidget-video {
    width: 100%;
  }
  /* line 125, ../sass/video_widget.scss */
  .oneVideo .videoWidget-triangle {
    width: 0;
    height: 0;
    margin: 0 auto;
  }
  /* line 127, ../sass/video_widget.scss */
  .oneVideo .videoWidget-triangle.videoWidget-triangle-left {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 15px solid #FFFFFF;
  }
  /* line 128, ../sass/video_widget.scss */
  .oneVideo .videoWidget-triangle.videoWidget-triangle-right {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 15px solid #FFFFFF;
  }

  /* line 132, ../sass/video_widget.scss */
  .max480 .ng-hide {
    display: table !important;
  }
  /* line 133, ../sass/video_widget.scss */
  .max480.videoWidget {
    background: #ECEDF4;
    margin: 15px 0;
    border-radius: 8px;
    padding-bottom: 12px;
  }
  /* line 134, ../sass/video_widget.scss */
  .max480 .videoWidget-videos {
    overflow: hidden;
    white-space: nowrap;
    height: 310px;
  }
  /* line 135, ../sass/video_widget.scss */
  .max480 .videoWidget-video {
    width: 90%;
    display: table;
    margin: 10px auto;
    padding: 12px;
    background: #FFFFFF;
    border-radius: 8px;
    table-layout: fixed;
    position: relative;
    height: 125px;
    max-height: 125px;
    -webkit-transition: all ease-in 0.8s;
    transition: all ease-in 0.8s;
  }
  /* line 138, ../sass/video_widget.scss */
  .max480 .videoWidget-video.ng-hide-add-active, .max480 .videoWidget-video.ng-hide-remove, .max480 .videoWidget-video.ng-hide-remove-active, .max480 .videoWidget-video.ng-hide-add {
    display: inline-block !important;
    -webkit-transition: all linear 0.8s;
    transition: all linear 0.8s;
  }
  /* line 143, ../sass/video_widget.scss */
  .max480 .videoWidget-video.lastNoHide {
    /*margin-bottom: 0;*/
  }
  /* line 144, ../sass/video_widget.scss */
  .max480 .videoWidget-video a {
    display: table-cell;
    width: 40%;
  }
  /* line 145, ../sass/video_widget.scss */
  .max480 .videoWidget-video a img {
    width: 100%;
  }
  /* line 147, ../sass/video_widget.scss */
  .max480 .videoWidget-video::after {
    /*display: table-cell;*/
    content: '\203A';
    vertical-align: middle;
    font-size: 350%;
    text-align: center;
    background-color: #F65929;
    height: 46px;
    width: 46px;
    top: 50%;
    margin-top: -23px;
    right: 10%;
    margin-right: -23px;
    position: absolute;
    border-radius: 50%;
    line-height: 40px;
    color: #FFFFFF;
    cursor: pointer;
  }
  /* line 167, ../sass/video_widget.scss */
  .max480 .videoWidget-title {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
    font-weight: bold;
    font-size: 150%;
    padding-left: 10px;
    white-space: normal;
  }
  /* line 168, ../sass/video_widget.scss */
  .max480 .videoWidget-title div {
    overflow: hidden;
    max-height: 120px;
  }
  /* line 170, ../sass/video_widget.scss */
  .max480 .videoWidget-widget-title {
    display: block;
    padding: 12px 12px 0;
    font-size: 175%;
    font-weight: bold;
    color: #414040;
  }
  /* line 171, ../sass/video_widget.scss */
  .max480 .videoWidget-right-selection {
    display: block;
    width: 90%;
    min-height: 20px;
    background: #F26522;
    margin: 10px auto 0;
    padding: 5px 10px;
    border-radius: 12px;
    color: #FFFFFF;
    text-align: center;
    font-size: 150%;
    cursor: pointer;
    margin-left: -1.8%;
  }
  /* line 172, ../sass/video_widget.scss */
  .max480 .videoWidget-right-selection:before {
    content: "Load More Videos";
  }
  /* line 173, ../sass/video_widget.scss */
  .max480 .videoWidget-right-selection.lastVideoBlock {
    opacity: 0.4;
  }
  /* line 175, ../sass/video_widget.scss */
  .max480 .videoWidget-right-selection.lastVideoBlock:hover {
    cursor: not-allowed;
  }

  /* line 179, ../sass/video_widget.scss */
  #content .videoWidget-video img {
    max-width: 90% !important;
  }

  /* line 180, ../sass/video_widget.scss */
  .video-widget-chevron {
    display: none;
  }

  /* line 181, ../sass/video_widget.scss */
  .video-widget-pager {
    display: none;
  }
}
