#nav #menubar-main-menu>ul.menu>li.last>a { background: url(images/nav_aw2.png) 2px 0 no-repeat; padding: 0 25px 0 40px;} 
#nav #menubar-main-menu>ul.menu>li.last:hover,
#nav #menubar-main-menu>ul.menu>li.last.active-trail {} 
#nav #menubar-main-menu>ul.menu>li.last:hover>a,
#nav #menubar-main-menu>ul.menu>li.last.active-trail>a { background-position: 2px -43px; } 
#webinar-form-title { font-size:15px; }