$mobile-width: 60%;
$mobile-triangle-size: 15px;
@mixin color-gradient($start, $end){
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end');
  background-image: -ms-linear-gradient(top, $start 0%, $end 100%);
  background-image: -moz-linear-gradient(top, $start 0%, $end 100%);
  background-image: -o-linear-gradient(top, $start 0%, $end 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $start), color-stop(1, $end));
  background-image: -webkit-linear-gradient(top, $start 0%, $end 100%);
  background-image: linear-gradient(to bottom, $start 0%, $end 100%);
}

@mixin box-sizing(){
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* Variables for the max-480px width design, specifying width of image, title, and button */
$max480-image-width: 40%;
$max480-title-width: 40%;
$max480-remainder-width: 100 - $max480-image-width - $max480-title-width;
$max480-button-height-width: 46px;

/* Color and size of video widget title border */
$widget-title-border: 1px solid #972901;

.full, .twoVideo, .full_pw {
  &.videoWidget {margin-bottom: 10px;}
  .videoWidget-video {text-align: center; margin: 10px 0; display: inline-block;
    -webkit-transition:all ease-in 0.8s;
    transition:all ease-in 0.8s;
    &.ng-hide {
      display: inline-block !important;
      /*-webkit-transition:all linear 2s;
      transition:all linear 2s;*/
    }
    &.noHide {

    }
    &.ng-hide-add-active, &.ng-hide-remove, &.ng-hide-remove-active, &.ng-hide-add {
      display:inline-block !important;
      -webkit-transition:all linear 0.8s;
      transition:all linear 0.8s;
    }
  }
  .videoWidget-wrapper {overflow: auto; position:relative; min-height: 120px;}
  .videoWidget-wrapper div {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
  .videoWidget-videos {overflow: hidden; float:left; max-width:94%; min-height: 160px; white-space: nowrap; }
  .videoWidget-count-selector {overflow: auto; min-height:1px;
    &.ng-click-active {}

  }
  .videoWidget-left-selection, .videoWidget-right-selection { display:inline-block; float:left; width:12px; }
  .videoWidget-right-selection { padding-left:5px; }
  .videoWidget-left-triangle-wrapper {
    background-color:#fff; width:10px;
    &.lastVideoBlock .video-widget-chevron {opacity: 0.42;
      &:hover {cursor: not-allowed;}
    }
  }
  .videoWidget-right-triangle-wrapper {
    &.lastVideoBlock {opacity: 0.42;
      &:hover {cursor: not-allowed;}
    }
  }
  .videoWidget-right-triangle-wrapper {
    background-color:#fff;
  }
  .videoWidget-triangle-wrapper { position: absolute; height:100%;
    &:hover {cursor:pointer}
  }
  .videoWidget-triangle { font-size:10px; color:#999; font-size:25px; margin-top:35px;
    &:hover { color:#696969; }
  }

  .videoWidget-title {float:left; clear: both; width:100%; color:#000; font-family: "FolksLightRegular",sans-serif; letter-spacing: .03em; margin-top:4px; line-height: 1.3em; @include box-sizing; height:auto; text-align:left;
    div {overflow:hidden; white-space: normal; height: 50px; margin:auto auto; max-width:93% !important; }
  }
  .videoWidget-widget-title {
    font-weight:bold; color:#F15A24; font-size:1.4em; text-transform: uppercase; border-bottom:1px solid #dde8ed; padding:8px 0 8px 2px;
  }

  .videoWidget-video { width:25%; }
  .videoWidget-video img { max-width:93% !important; }
}
.videoWidget-title {
  &:hover {cursor:pointer;}
}

.video-widget-pager { text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666;
  a { background: #bfbfbf; text-indent: -9999px; display: block; width: 8px; height: 8px; margin: 0 5px !important; outline: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
  a:hover, a.active { background: #000; }
}
.video-widget-pager-item { display: inline-block; *zoom: 1; *display: inline; }

@media (max-width:800px) and (min-width: 480px) {
  .videoWidget {display:inline-block; width: 100%;}
  .videoWidget-video {width:50%;}
}

@media (min-width: 480px) {
  .videoWidget-video {
    /*img {} */
  }
  #content .videoWidget-video img {width:100%;}
}

@media (min-width:480px) and (max-width:950px) {
  .full .videoWidget-videos, .twoVideo .videoWidget-videos, .full_pw .videoWidget-videos { max-width:94%;}
  #content .videoWidget-wrapper img { max-width:95% !important;}
}

@media (max-width:479px) {
  .oneVideo {
    &.videoWidget {display:block; width: $mobile-width; margin: 0 auto;}
    .videoWidget-wrapper {display: table; width:100%;}
    .videoWidget-videos {display:table-header-group; float:none; min-height: 125px;}
    .videoWidget-left-selection {display: table-row-group;}
    .videoWidget-right-selection {display: table-footer-group;}
    .videoWidget-triangle-wrapper {display: table-cell; padding: 10px 0;}
    .videoWidget-triangle-wrapper:active {padding-top:11px; -moz-box-shadow: inset 0 0 1px 0 #000000; -webkit-box-shadow:inset 0 0 1px 0 #000000; box-shadow: inset 0 0 1px 0 #000000;}
    .videoWidget-video {width:100%;}
    .videoWidget-triangle {
      width:0; height:0; margin: 0 auto;
      &.videoWidget-triangle-left {border-left: 40px solid transparent; border-right: 40px solid transparent; border-bottom: $mobile-triangle-size solid #FFFFFF;}
      &.videoWidget-triangle-right {border-left: 40px solid transparent; border-right: 40px solid transparent; border-top: $mobile-triangle-size solid #FFFFFF;}
    }
  }
  .max480 {
    .ng-hide {display:table !important}
    &.videoWidget {background: #ECEDF4; margin:15px 0; border-radius: 8px; padding-bottom: 12px;}
    .videoWidget-videos {overflow:hidden; white-space: nowrap; height:310px;}
    .videoWidget-video {width:90%; display: table; margin: 10px auto; padding: 12px; background: #FFFFFF; border-radius: 8px; table-layout: fixed; position: relative; height:125px; max-height:125px;
      -webkit-transition:all ease-in 0.8s;
      transition:all ease-in 0.8s;
      &.ng-hide-add-active, &.ng-hide-remove, &.ng-hide-remove-active, &.ng-hide-add {
        display:inline-block !important;
        -webkit-transition:all linear 0.8s;
        transition:all linear 0.8s;
      }
      &.lastNoHide {/*margin-bottom: 0;*/}
      a {display: table-cell; width: $max480-image-width;
        img {width:100%;}
      }
      &::after {
        /*display: table-cell;*/
        content: '\203A';
        vertical-align: middle;
        font-size: 350%;
        text-align: center;
        background-color: #F65929;
        height:$max480-button-height-width;
        width: $max480-button-height-width;
        top:50%;
        margin-top: $max480-button-height-width / 2 * -1;
        right: $max480-remainder-width / 2;
        margin-right: $max480-button-height-width / 2 * -1;
        position: absolute;
        border-radius: 50%;
        line-height: $max480-button-height-width - 6;
        color:#FFFFFF;
        cursor:pointer;
      }
    }
    .videoWidget-title {display: table-cell; vertical-align: middle; width:$max480-title-width; font-weight: bold; font-size: 150%; padding-left:10px; white-space: normal;
      div {overflow:hidden; max-height: 120px;}
    }
    .videoWidget-widget-title { display: block; padding: 12px 12px 0; font-size:175%; font-weight:bold; color:#414040;}
    .videoWidget-right-selection {display:block; width:90%; min-height:20px; background:#F26522; margin:10px auto 0; padding: 5px 10px; border-radius: 12px; color: #FFFFFF; text-align:center; font-size:150%; cursor:pointer; margin-left: -1.8%;
      &:before {content: "Load More Videos";}
      &.lastVideoBlock {
        opacity: 0.4;
        &:hover {cursor: not-allowed;}
      }
    }
  }
  #content .videoWidget-video img {max-width:90% !important;}
  .video-widget-chevron { display:none; }
  .video-widget-pager { display:none; }
}
