#legal {display:none;}
html, body {background:none; height: 100%; min-height: 800px;}
#edit-links {
  padding-top: 20px;
  #edit-node {display:inline-block; width: 71px; font-size:17px; background-color: #999; text-align:center;
    a {display:inline-block; color: #FFFFFF; width:71px;}
  }
}
#remote-source-purf-wrapper {height:100%;}