@import "variables";
@import "mixins";

.smg-pop-up-hidden-links {display:none;}
#modalContent {@include transition(top .5s ease, left .5s ease);}
div.ctools-modal-content {
  overflow:visible; border-radius:13px; -webkit-border-radius:13px; -moz-border-radius:13px; background:#fff; min-height: 200px; padding-bottom: 15px;
  #modal-content {
    overflow:visible;
    .webform-client-form {
      //float: left;
    }
  }
  .modal-header {
    background-color:#FFF;
    padding:20px 10px 5px 25px;
    border-radius:13px;
    -webkit-border-radius:13px;
    -moz-border-radius:13px;
    border-bottom: none;
    display: inline-block;
    width: 100%;

    html.flexbox & {
      @include flex-val(0 0 auto);
    }

    #modal-title {color:#0079BF; font-size:230%; float:left; line-height: 24px;}
  }
  .modal-scroll {/*float:left;*/ width: 100%; min-height: 180px;
    html.flexbox & { 
      @include flex-val(1 0 auto); @include flex-row; @include flex-justify(stretch);
    }
  }
  .modal-content {
    border:1px solid #B4D4E3; border-radius:13px; -webkit-border-radius:13px; -moz-border-radius:13px; overflow-y:scroll; margin: 0 auto; background-color:#EFF8FC; box-sizing: border-box; -ms-box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
    input.form-text {border:1px solid #B4D4E3; background:#FFF; border-radius:13px; -webkit-border-radius:13px; -moz-border-radius:13px;}
    input.form-text, button {height:30px; color:#000;}
    button {font-size:150%; padding-left:10px; height:36px; border-radius:9px; -webkit-border-radius:9px; -moz-border-radius:9px;}
    .form-item {float:left; width:100%; margin-top:1em; margin-bottom:1em;
      &.webform-component {
        > label {width:auto; clear:both; padding:0 0 6px 6px; margin-bottom: 0;}
        > label, > label span.form-required {color:#198AC8;}
      }
      label {font-size:130%;}
      input, button {float:left; clear: both;}
    }
    .smg-pop-up-element {
      &.radios {
        .form-item {
          .form-type-radio {
            float:left; margin-right:15px; width:auto;
            label {font-weight:bold; padding-left:4px;}
          }
        }
      }
    }
    .form-actions {
      float:left; width:100%; margin-top:1em; margin-bottom:1em;      

      input {
        &.form-submit {
          border:none; padding:0 20px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; height:36px; background:#0079BF; float:none; margin:0 auto; border-radius:9px; -webkit-border-radius:9px; -moz-border-radius:9px; font-size:180%; width:50%; box-shadow:inset 0 -2px 1px rgba(0, 0, 0, 0.45), 0 1px 2px rgba(0, 0, 0, 0.25); -moz-box-shadow:inset 0 -2px 1px rgba(0, 0, 0, 0.45), 0 1px 2px rgba(0, 0, 0, 0.25); -webkit-box-shadow:inset 0 -2px 1px rgba(0, 0, 0, 0.45), 0 1px 2px rgba(0, 0, 0, 0.25); display:block; color:white;
          &:active {position:relative; top:2px; box-shadow:inset 0 -2px 1px rgba(239, 248, 252, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9); -moz-box-shadow:inset 0 -2px 1px rgba(239, 248, 252, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9); -webkit-box-shadow:inset 0 -2px 1px rgba(239, 248, 252, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);}
          &:focus {outline:0;}
          &:active:after { content: " "; width: 100%; height: 2px; background: #EFF8FC; position: absolute; bottom: 10px; left: 0; }
        }
      }
    }
    .ui-multiselect-menu {
      .ui-multiselect-checkboxes {
        overflow: auto;
      }
    }
    #smg-pop-up-required-note {
      float:left; color:#999999; margin-bottom:10px; font-size:13px;
    }
  }
  .smg-pop-up-column {
    .smg-pop-up-element {float:left; padding: 0 15px; @include border-box;}
  }
}

.popups-container {
  html.flexbox & {
    @include flex-column; @include flex-align(stretch); width: 100%;
  }
}

.two-column-layout, .one-column-layout {
  .modal-content {
    width:97% !important; min-width: 97%; max-width: 97%; min-height: 180px; 
    html.flexbox & {
      @include flex-val(1 0 97%); @include flex-row; min-width: 180px;
    }
  }
}

div.ctools-modal-content .modal-header-text {float:left; margin-bottom:15px; clear:both; max-width:95%;}
div.ctools-modal-content .disclaimer {float:left; clear:both;}
div.ctools-modal-content .disclaimer-text {clear:both; display:block; width:90%; margin:10px auto; font-size:13px; color:#999999; line-height:18px;}
div.ctools-modal-content #sp-full-name-wrapper {/*float:left; margin-top:-12px;*/ margin-bottom:15px; clear:both; width:100%;}
div.ctools-modal-content #sp-full-name-wrapper {font-weight:bold;}
div.ctools-modal-content #sp-full-name-wrapper #not-sp-user {color:#4679bd; margin-left:5px;}
div.ctools-modal-content #sp-full-name-wrapper a#not-sp-user {float:none !important;}
div.ctools-modal-content input[type="text"] {-webkit-user-select: text;}
div.ctools-modal-content .modal-content input.form-text.error, button.ui-multiselect.error {border: 1px solid #c00;}
div.ctools-modal-content .modal-content .webform-component-radios.error {border:1px solid #c00; border-radius: 12px; -webkit-border-radius:12px; -moz-border-radius:12px; background-image:none !important;}

.purf {
  @at-root #{&}__bottom-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    min-height: 70px;
    align-items: flex-end;
  }

  @at-root #{&}__submit-section {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .captcha {
      flex: 1 0 100%;
      display: flex;
      justify-content: center;
    }

    .form-actions {
      flex: 1 0 100%;
    }
  }

  @at-root #smg-pop-up-required-note {
    position: absolute;
    padding-left: 15px;
  }
}




