<div class="videoWidget"  ng-class="extraCssClasses">
  <div class="videoWidget-widget-title">
    Browse {{totalCount}} videos from {{companyName}}
  </div>
  <div class="videoWidget-wrapper" resizable>
    <div ng-click="videosPrev()" class="videoWidget-count-selector videoWidget-left-selection" ng-class="extraCssClasses">
      <div class="videoWidget-triangle-wrapper videoWidget-left-triangle-wrapper" ng-class="">
        <div class="videoWidget-triangle videoWidget-triangle-left left"><span class="video-widget-chevron">&lsaquo;</span></div>
      </div>
    </div>
    <video-slider videos="videos" /></video-slider>
    <div ng-click="videosNext()" class="videoWidget-count-selector videoWidget-right-selection" ng-class="extraCssClasses">
      <div class="videoWidget-triangle-wrapper videoWidget-right-triangle-wrapper" ng-class="{'lastVideoBlock': isLastVideoBlock}">
          <div class="videoWidget-triangle videoWidget-triangle-right right"><span class="video-widget-chevron">&rsaquo;</span></div>
      </div>
    </div>
  </div>
  <video-widget-pager></video-widget-pager>
</div>
