ul.items {margin:0px !important;}
.page-node-layout-two-column #block-system-main .content {width:100%; min-height:500px;}
ul.items {list-style-type:none; width:43%; float:left; box-sizing: border-box; -ms-box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
ul.items li.list {overflow-y:hidden; overflow-x:hidden; line-height:13px; background-color:lightblue; margin:3px 0px 3px 0px; height:20px; padding:3px; cursor:move; float:left; width:100%; box-sizing: border-box; -ms-box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; border:1px solid #FFF;}
ul#field-list {clear:both; padding:10px 5px; border:1px solid darkblue; list-style-type:none;} 
ul#column-1 {clear:both; min-height:200px; padding:10px 5px; border:1px solid black; position:relative; list-style-type:none;}
ul#column-2 {clear:both; min-height:200px; padding:10px 5px; border:1px solid black; position:relative; list-style-type:none;}
#fields-header {font-size:14px; font-weight:bold; float:left; clear:both; margin-top:20px;}
.fields-header-description {width:40%; float:left; clear:both;}
.column-header {font-size:14px; font-weight:bold; float:left; clear:both;}
#submit-form {clear:both; float:left; margin-top:8px;}
#reorder-thank-you {clear:both; font-size:15px;}
.page-node-layout-two-column .column-wrapper {float:left; width:43%;}
.page-node-layout-two-column .column-wrapper.column-1 {clear:both; margin-right:25px;}
.page-node-layout-two-column .column-wrapper ul {width:100%;}