<div class="expo-countdown expo-countdown-container" ng-class="extraClasses">
    <div class="expo-countdown-banner">
        <img src="#" ng-src="{{logoPath}}" class="expo-countdown-logo"/>
        <span class="expo-countdown-banner-text">{{expoName}}</span>
    </div>
    <div id="expo-countdown-timer">
      <div class="expo-countdown-days-count expo-countdown-time-count" ng-if="showDays">
        <countdown-flip-widget type="dayCountdown" countdown="{{dayCountdown}}"></countdown-flip-widget>
        <span class="expo-countdown-flip-title">DAYS</span>
      </div>
      <div class="expo-countdown-hours-count expo-countdown-time-count" ng-if="showHours">
        <countdown-flip-widget type="hourCountdown" countdown="{{hourCountdown}}"></countdown-flip-widget>
        <span class="expo-countdown-flip-title">HOURS</span>
      </div>
      <div class="expo-countdown-min-count expo-countdown-time-count" ng-if="showMins">
        <countdown-flip-widget type="minCountdown" countdown="{{minCountdown}}"></countdown-flip-widget>
        <span class="expo-countdown-flip-title">MINS</span>
      </div>
      <div class="expo-countdown-register"><a onclick="ga('send', 'event', 'Expo Countdown Widget', 'Register Button Click');" href="#" ng-href="{{registerUrl}}">REGISTER NOW</a></div>
    </div>
</div>
